{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<div class="container" />
<p><img src="https://sun9-57.userapi.com/impg/TKXUAr36_D2CVw5TmSGVGxKjTukq9DoD-8LXrw/Z8uXZqvJvxk.jpg?size=700x525&quality=95&sign=a6b3e4eeae16fe16783108050793ec61&type=album" alt='наша компания' height="600" width="1000" </p>
<h5> DoN1sHkO — международный киберспортивный клуб, основанный 4 ноября 2019 года. Составы клуба — участники мейджор по Dota 2, Counter-Strike Global Offensive и в других дисциплинах. Сумма призовых, заработанных DoN1sHkO за время существования, составляет пока что 10000р, но нам есть к чему стремиться. На данный момент клуб имеет составы по Dota 2, CSGO, Rainbow 6 Siege, PUBG и Warface.</h5>
</div>
{% endblock %}