<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
  <div class="nav">
    <div class="container justify-content-between  d-flex ">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none d-flex ">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94" role="img"><title>DoN1sHkO</title>
            <img src="https://sun9-78.userapi.com/impg/xrFG42XBr7BgEA_huPeDHWfsaUj7JlhJHhhO2Q/Rr9mBNDVi28.jpg?size=50x50&quality=95&sign=94135da8e7cd5adbf0fecc4e57c101d3&type=album" height="60" width="60">
        </svg>

      </a>
    <header class="d-flex justify-content-center py-3  ">

      <ul class="nav nav-pills text-dark">
       <li class="nav-item"><a href="{{url_for('news')}}" class="nav-link">Новости</a></li>

        <li class="nav-item"><a href="{{url_for('about')}}" class="nav-link">О нас</a></li>
          <li class="nav-item "><a href="{{ url_for('index')}}" class="nav-link  " aria-current="page">Ваши комментарии</a></li>
          <li class="nav-item"><a href="{{url_for('create')}}" class="nav-link active ">Оставить пожелание</a></li>
      </ul>
    </header>
  </div>
      </div>
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        {% block content %} {% endblock %}
    </div>
<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">вернуться</a>
    </p>
    <p class="mb-1">DoN1sHkO</p>
    <p class="mb-0"> <a href="/"> Перейти на главную </a> .</p>
  </div>
</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>