{% extends 'base.html' %}

{% block title %}

{% endblock %}



{% block content %}

<div class="container">
<h1>Долгожданная встреча</h1>
<img src="https://sun1-84.userapi.com/impg/KxpZZ_vLSgUg_Fxbr8GN3uGOVt-I4hrET9-wSw/Df623pGNF2M.jpg?size=600x600&quality=96&sign=9c8018018725e375ae6b199d3906bb05&type=album">
    <h4>19.11.2022 произошла встреча клуба DoN1sHkO в зоопарке, молодая команда разрабатывала новые тактики к предстоящим турнирам по игре Dota 2, среди них были такие именитые игроки как Mirazsan, mcTutun, игроки насладились встречей, потискали тигров и выслушали напутствие менеджера.</h4>
</div>
<div class="container">
    <h1>Победная стратегия</h1>
    <img src="https://sun9-88.userapi.com/impg/Tq791LZVF1VFVoyfHEMaiTbfm_Qoyb2wqPTObQ/B-9HYrjU67A.jpg?size=1594x682&quality=96&sign=a3ed9d3e30b885c54aa1407400576658&type=album" height="500">
    <h4>05.07.2022 игроки DoN1sHkO собрались для разбора игр противника, мужчины продумывали стратегии, контрмеры для каждой команды противника, особо отличился помощник капитана snake, игрок неоднократно предлагал наилучшее решение для той или иной команды.</h4>
</div>
<div class="container">
    <h1>Шок. MaNkA лысый?</h1>
    <img src="https://sun9-80.userapi.com/impg/917FgI4PtcAt56OyaleajB37PARaHFKto3XS6w/60s_mb_bdM0.jpg?size=1200x1600&quality=95&sign=736cbb97d014215c861318818b275cee&type=album" height="500">
    <h4>Капитан команды MaNkA постригся налысо, что сподвигло его на этот шаг? Как рассказывает капитан, в тот злощастный день он принял трудное решение, пристричься налысо для того чтобы волосы на голове не мешали ему концентрироваться на игре, а также чтобы голова сильно не нагревалась во время сложных игр. Игрок не жалеет о своем поступке, команда решила тоже поддержать своего капитана и захотела последовать такому примеру и постричься налысо.</h4>
</div>
<div class="container">
    <h1>Музыка для ушей</h1>
    <img src="https://sun9-88.userapi.com/impg/xA4AZoH7UeOOViS4j8kTDh5fH9NCr67EWy7Tyw/LrM7DBiZlpg.jpg?size=1059x1080&quality=96&sign=3287fe932f0732601ba37c81ce2ff681&c_uniq_tag=rsvci8j7cxw4ofNZQauw2l5Yez3eEl2JWttocEOkDLU&type=album" height="500">
    <h4>Группа "Тайна" Специально выпустила трек "Береги меня" в честь победы DoN1sHkO в турнире в большим призовым фондом, а именно 1000 рубей. Игроки остались довольны треком. </h4>
</div>
<div class="container">
    <h1>Обмен телами</h1>
    <img src="https://sun1-26.userapi.com/impg/ogIIwmoeZtbJFCofoF6VoGCwfuet4Cr9uOdDjA/zLjUPabOLl4.jpg?size=1920x1080&quality=96&sign=10b767ce56f94b34da59fcb43b92b4d2&type=album" height="500">
    <h4>Игроки команды DoN1sHkO поменялись футболками с командой Team Spirit, 2 команды пожелали удачи перед будущим столкновением титанов, легенд киберспортивной индустрии.</h4>
</div>

{% endblock %}