.ss{
background:pink;
border: 5px solid black;
border-radius: 10px;
}
.background {
background-color: pink;
}
.container1 {
margin: 100px 760px;
}
.no {
margin: 50px 800px;
}
.nav{
background:pink;
}